<!doctype html>

<html>
<head>
	<title>Entry</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/smallTalk.css" rel="stylesheet">
	<style>
textarea{
	width: 100%;
	height: 200px;
	resize: none;
}

        
    h1{
        display:inline;
        padding-left:20%
    }
	</style>
    

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="backgroundColor">
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div>
            <a href="/index"><button class="homebtn">MAIN MENU</button></a>
			<h1 class="titlePage">{{header}}</h1>
		</div>
        <hr style="height:4px;border:none;color:#333;background-color:#333;" />

		<form name="logSubmit" role="form" method="post" action="/add" id="userForm">
			<h3>{{readDate}}</h3>
			<h4>Challenge: {{challenge}}</h4>
			<div class="form-group">
				<label for="name">Title:</label>
				<input type="text" class="form-control" id="name" placeholder="Title" name="title" value="{{title}}">
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<!--<input type="text" class="form-control" id="description" placeholder="Write Here" name="log" value="{{desc}}">-->
				<textarea name="log" form="userForm" id="description" placeholder="Write Here" >{{desc}}</textarea>
			</div>
			<input type="hidden" name="date" value="{{date}}">
			<input type="hidden" name="challenge" value="{{challenge}}">
		  <button class="smallbtn" type="submit" >Save</button>
		</form>

        
            <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93157314-1', 'auto');
  ga('send', 'pageview');

</script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
