<!doctype html>

<html>
<head>
	<title>Entry</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/smallTalk.css" rel="stylesheet">
    
   
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="backgroundColor">
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		  <div><a href="/index"><button class="homebtn">MAIN MENU</button></a></div>
		<div class="titlePage">
			<h1 class="titlePage">{{header}}</h1>
		</div>
        <hr style="height:4px;border:none;color:#333;background-color:#333;" />

		<form name="log" role="form"  method="post" action="/add">
			<h3>Write a log!</h3>
			<h4>{{readDate}}</h4>
			<div class="form-group">
				<label for="name">Title:</label>
				<input type="text" class="form-control" id="name" placeholder="Title" name="title" value="{{title}}">
			</div>
			<div class="form-group">
				<label for="description">Log:</label>
				<input type="text" class="form-control" id="description" placeholder="Log" name="log" value="{{desc}}">
			</div>
			<input type="hidden" name="date" value="{{date}}">
		  <button class="smallbtn" type="submit" >Save</button>
		</form>



	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
